<div id="chat-container">
  <div id="chat-window"></div>
  <div id="chat-controls">
    <label>Chat:</label>
    <input id="chat-name" placeholder="What's your name?"></input>
    <input id="chat-text" placeholder="What to say, eh?"></input>
    <button id="chat-send" class="btn btn-primary btn-sm">Send</button>
  </div>
</div>