<script type="text/javascript" src="/javascripts/landing.js"></script>
<h2>mpla.me</h2>
<h4>Home of full WAV quality streaming music</h4>

<div id="controls">
  <div id="room-name-container">
    <label for="room-name">Where to?</label>
    <input id="room-name" type="text" placeholder="Pick any room name"></input>
    <button id="go" class="btn btn-primary btn-sm">Go</button>
  </div>
</div>
