<script type="text/javascript" src="/javascripts/receiver.js"></script>
<h2>Welcome to the "{{ . }}" room!</h2>
<input type="hidden" id="room" value="{{ . }}"></input>
<div id="controls" class="receiver">
  <button class="btn btn-sm btn-primary" id="play">Play</button>
  <button class="btn btn-sm btn-primary" id="pause">Pause</button>
</div>
