<script type="text/javascript" src="/javascripts/sender.js"></script>
<h2>Welcome to the "{{ . }}" room!</h2>
<input type="hidden" id="room" value="{{ . }}"></input>
<div>Tell your friends to listen in at <a href="" id="friend-url"><h4></h4></a></div>
<div id="controls" class="sender">
  <button class="btn btn-sm btn-primary" id="record">Record</button>
  <button class="btn btn-sm btn-primary" id="pause">Pause</button>
  <label for='audioSource'>Audio source: </label>
  <select id='audioSource'></select>
</div>
